/* Text elements*/

#loanText {
  visibility: hidden;
}

#laptopTitle {
  visibility: hidden;
}

#laptopDescription {
  visibility: hidden;
}

#laptopPrice {
  visibility: hidden;
}
/* Button elements*/

#buttonGetLoan {
  background-color: #4bf1a1;
  color: black;
}

#buttonBank {
  background-color: #ebee4f;
  color: black;
}

#buttonGetSalary {
  background-color: #4c71e6;
  color: aliceblue;
}

#buttonRepayLoan {
  visibility: hidden;
  background-color: teal;
  color: aliceblue;
}

#buttonBuyLaptop {
  visibility: hidden;
  background-color: #4bc9f1;
  color: black;
}
